<div class="ml-4">
  <h1>Conversation with <%= @conversation.opposed_user(current_user).email %></h1>
  <div id="messages">
    <% @conversation.messages.each do |message| %>
      <p><strong><%= message.sender.email %>:</strong> <%= message.body %></p>
    <% end %>
  </div>
  <%= form_with(model: [@conversation, @message], url: conversation_messages_path(@conversation),remote: true,id:'form') do |form| %>
    <%= form.text_field :body,id:'chat_message',class:"w-50",placeholder:"Enter a message" %>
    <%= form.submit "Send" ,id:'message_submit',class:"card-button"%>
  <% end %>
</div>
<div id="conversation" data-conversation-id="<%= @conversation.id %>"></div>
