<div class="container mt-2">
  <div class="d-flex justify-content-end">
    <%= link_to 'Rejected Post',rejected_admin_index_path,class:"card-button text-center w-25" %>
  </div>
</div>
<% if @sell.empty? && @buy.empty? %>
  <h1>There is no pending post</h1>
<% end %>
<% unless @sell.empty? %>
  <h2 class="display-4 text-center mb-4">List of Pending Approvals for Sell</h2>
  <div class="container">
    <div class="row">
      <% @sell.each do |item| %>
        <div class="col-md-4 mb-4">
          <%= render partial: 'welcomes/item_card', locals: { item: item } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @sell %>
</div>
<% end %>
<% unless @buy.empty? %>
  <h2 class="display-4 text-center mb-4">List of Pending Approvals for Buyer Requirements</h2>
  <div class="container">
    <div class="row">
      <% @buy.each do |item| %>
        <div class="col-md-4 mb-4">
          <%= render partial: 'welcomes/item_card', locals: { item: item } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @buy %>
</div>
<% end %>
