<h2>List of Pending Approvals</h2>
<div class="d-flex flex-wrap">
  <% @items.each do |item|%>
  <div class="card mx-2" style="width: 18rem;">
    <%=image_tag item.images.first,class:"card-img-top" ,alt:"card-thumbnail",style:"height:300px"%>
    <div class="card-body">
      <h5 class="card-title"><%= item.title%></h5>
      <p class="card-text"><%= Category.find(item.category_id).items+"(#{SubCategory.find(item.sub_category_id).items})"%></p>
      <p class="card-text"><%= item.description%></p>
      <p class="card-text">posted by: <%= item.user_name%></p>
      <p class="card-text">price:   <%= item.price%></p>
      <div class="d-flex justify-content-between">
        <div class="card-button w-40">
          <%= link_to 'Approve',admin_path(item.id),method: :put,class:"card-button" %>
        </div>
        <div class="card-button w-40">
          <%= link_to 'Reject',product_path(item.id),method: :delete,data:{confirm: "Are you sure you want to reject"},class:"card-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>