<div class="card mx-2 my-2" style="width: 20rem;">
  <% if item.images.present? %>
    <%= image_tag item.images.first,class:"card-img-top" ,alt:"card-thumbnail",style:"height:300px" %>
  <% else %>
    <img src="<%= image_path('Image_not_available.png') %>" style="height:300px">
  <% end %>
  <div class="card-body">
    <div style="min-height: 18rem;">
      <h5 class="card-title"><%= item.title%></h5>
      <p class="card-text"><%= item.category.items+"(#{item.sub_category.items})" %></p>
      <p class="card-text"><%= truncate(item.description, length: 50, omission: '...') %></p>
      <p class="card-text">posted by: <strong><%= item.user_name %></strong></p>
      <p class="card-text">Location: <strong><%= item.location %></strong></p>
      <p class="card-text">price:   <strong>&#8377;<%= item.price %></strong></p>
    </div>
    <% if current_user %>
      <% if current_user&.admin? %>
        <% if !item.approved_by %>
          <div class="d-flex justify-content-between">
            <%= link_to 'Approve',admin_path(item.id),method: :put,class:"card-button text-center",id:"approve-btn",style: "width:40%" %>
            <%= link_to 'Reject',reject_post_admin_path(item.id),method: :put,data:{confirm: "Are you sure you want to reject"},class:"card-button text-center",style: "width:40%" %>
          </div>
        <% else %>
          <p>The item has been approved by:<strong><%= item.approved_by_user.name %></strong>
          </p>
        <%end%>
      <% else %>
        <% if item.user_id != current_user.id %>
          <div class="d-flex justify-content-between">
            <div class="w-50">
              <%= form_with(model: Conversation.new, url: conversations_path) do |form| %>
                <%= form.hidden_field :recipient_id, value: item.user_id %>
                <%= form.button(type: 'submit',class:"card-button") do %>
                  <%= content_tag(:i, nil, class: 'fa fa-brands fa-whatsapp') %>
                  Chat
                <% end %>
              <% end %>
            </div>
            <div class="w-50">
              <%= form_with(model: Notification.new, url: notifications_path,method: :post,class:'noti-form') do |form| %>
                <%= form.hidden_field :recipient_id, value: item.user_id %>
                <%= form.hidden_field :body, value: {name:current_user.name,email:current_user.email}.to_json %>
                <%= form.submit "Interested",class:"card-button",id: 'notification_submit'%>
              <% end %>
            </div>
          </div>
        <% else %>
          <% unless item.approved_by %>
            <div class="d-flex justify-content-between">
              <%= link_to 'edit',edit_product_path(item.id),class:"card-button text-center",id:"approve-btn",style: "width:40%" %>
              <%= link_to 'Delete',product_path(item.id),method: :delete,data:{confirm: "Are you sure you want to Delete Post"},class:"card-button text-center",style: "width:40%" %>
            </div>
          <% end %>
        <% end %>
      <% end%>
    <% end %>
    <div class="d-flex justify-content-center">
      <% if item.approved_by && item.user_id == current_user&.id %>
        <%= link_to 'Delete',product_path(item.id),method: :delete,data:{confirm: "Are you sure you want to Delete Post"},class:"card-button text-center mt-2 mr-2",style: "width:40%" %>
      <% end %>
      <a href="<%= product_path(item) %>" class="card-button view-more w-50 mt-2">view more</a>
    </div>
  </div>
</div>
