<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">SubCategory Name</th>
      <th scope="col">Category Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <%@sub_categories.each do |sub_category|%>
      <tr>
        <td><%=sub_category.items%></td>
        <td><%=sub_category.category.items%></td>
        <td><%= link_to 'EDIT',edit_admin_sub_category_path(current_user.id,sub_category.id),class:"card-button"%></td>
        <td><%= link_to 'Delete',admin_sub_category_path(current_user.id,sub_category.id),method: :delete,data:{confirm: "Are you sure you want to delete"},class:"card-button"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @sub_categories %>
<div class="d-flex justify-content-center">
  <%= link_to 'Create Sub_Categories',new_admin_sub_category_path(@current_user.id),class:"card-button w-25 text-center"%>
</div >