<div class="mx-auto w-50 mt-4">
<%= form_with model: @category,url: admin_categories_path(current_user.id) do |form| %>
  <div class="mb-3">
    <%= form.label :items,class:"form-label" %><br>
    <%= form.text_field :items,class:"form-control",placeholder:"Enter a Category Name" %>
    <p class='error'><%= show_errors(@category, :items) %></p>
  </div>
  <div>
    <%= form.submit 'Create Category',class:"card-button"%>
  </div>
<% end %>
</div>